.kecil {
    color: #0000ff;
    font-size: 13px;
}

.kecil2 {
    color: #F92672;
    font-size: 12px;
}

td.details-control {
    background: url('https://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('https://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
}

.dataTables_scrollBody{
    min-height: 40px !important;
}

.dataTables_scrollBody::-webkit-scrollbar-track{
    background-color: #F5F5F5;
}

.dataTables_scrollBody::-webkit-scrollbar{
    height: 5px;
    opacity: 0.5; 
}

.dataTables_scrollBody::-webkit-scrollbar-thumb{
    background-color: #777;
}

.modal-title{
    font-weight: 800 !important;
}

.tooltip-inner {
    background-color: #6c757d !important;
    color: #fff;
    padding: 2px 4px !important;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #6c757d !important;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #6c757d !important;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #6c757d !important;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: #6c757d !important;
}

#pajak-container{
    float: right;
    padding-bottom: 10px;
}

.script {
    display: block;
    position: relative;
    padding-left: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

input[type=checkbox] {
    visibility: hidden;
}

.geekmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #28a745;
    border-radius: 50%;
}

.script input:checked ~ .geekmark {
    background-color: #dc3545;
}

.geekmark:after {
    content: "";
    position: absolute;
    display: none;
}

.script input:checked ~ .geekmark:after{
    display: block;
}

.script .geekmark:after {
    left: 6px;
    bottom: 5px;
    width: 6px;
    height: 6px;
    border: solid #dc3545;
    border-width: 1px 1px 1px 1px;
}

.heheTH{
    padding: .40rem !important;
}

.heheTD{
    padding: .40rem !important;
}

#tabel_detail_po{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border: none !important;
}

#tabel_pembelian_detail{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border: none !important;
}

.scroll_horiziontal_tabel{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

::-webkit-scrollbar {
    height: 5px;
    position: absolute; 
    opacity: 0.5; 
    border-radius: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}