/* .kepada {
    line-height: 4px;
}

.margintop {
    margin-top: 40px;
}

.center {
    text-align: center;
} */



@page {
    size: auto;
    odd-footer-name: html_myFooter1;
    /* header: html_myHeader;  */
    /* even-header-name: html_myHeader2; */
    /* odd-footer-name: html_myFooter1; */
    /* even-footer-name: html_myFooter2; */
}

@page :first {
    margin-top: 8cm;
    margin-bottom: 4cm;
    header: html_letterheader;
    resetpagenum: 1;
    odd-footer-name: html_myFooter1;
}

@page letterhead :first {
    margin-top: 8cm;
    margin-bottom: 4cm;
    header: html_letterheader;
    footer: _blank;
    resetpagenum: 1;
    background-color: lightblue;
    odd-footer-name: html_myFooter1;
}

.letter {
    page-break-before: always;
    page: letterhead;
}

.letter {
    page-break-before: always;
    page: myHeader1;
}

div.chapter2 {
    page-break-before: right;
    page: chapter2;
}

div.noheader {
    page-break-before: right;
    page: noheader;
}

.logo {
    display: inline-block;
    width: 130;
    height: 146;
    align: left;
    hspace: 12;
}

.headerText {
    display: inline-block;
    text-align: right;
    float: right;
}

.header {
    padding-bottom: 20px;
}

.table {
    border-left: 0.1mm solid #5c626300;
    border-right: 0.1mm solid #5c626300;
    border-bottom: 0.1mm solid #5c626300;
    border-top: 0.1mm solid #5c626300;
}
.cekbox {
    width: 30px;
    text-align: center; 
    line-height: 100%; 
    border: 1px solid black; 
    border-collapse: separate;
}